################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Covid.Api/bin/Debug/net6.0
/Covid.Api/obj
/Domain/bin/Debug/net6.0
/Domain/obj
/Infrastructure/bin/Debug/net6.0
*.dll
/Infrastructure/obj/Debug/net6.0
/Infrastructure/obj
/Persistence/bin/Debug/net6.0
/Persistence/obj
/Service/bin/Debug/net6.0
/Service/obj/Debug/net6.0
/Service/obj
*.dockerignore
